.child, .row {
  width: 780px;
  background: white;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
}

.row {
  padding: 30px;
  margin-top: 20px;
  box-shadow: none;
}

tr {
  padding: 5px 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

h2:hover {
  text-decoration: underline;
}

hr {
  margin: 10px 0;
}

i {
  font-size: 20px;
  font-weight: bold;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.pagination {
  width: 780px;
  margin: 20px auto 0;
  padding-bottom: 20px;
  border-radius: 5px;
}
