
.parent {
  position: relative;
  width: 100%;
  height: 91vh;
}


.child {
  position: absolute;
  width: 380px;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}


.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 26px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}


.imgDiv {
  width: 100%;
  margin-bottom: 40px;
  vertical-align: middle;
}

/* Button Styles */
button {
  background-color: #001529;
  border: none;
}
